/* Increase the default font size */
html {
    font-size: 14pt;
}

img.emoji {
    display: inline-block;
    height: 1.25em;
    width: auto;
    margin: 0;
}

img.sticker {
    display: block;
    height: 6rem;
    width: auto;
    margin: 0;
}
